@use '../global';

// 基本設定
html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Robot", sans-serif;
  color: global.$color-WT;
  background: transparent
    linear-gradient(
      180deg,
      #{global.$color-PL2} 0%,
      #{global.$color-PL2} 28%,
      #{global.$color-BL2} 100%
    )
    0% 0% no-repeat padding-box;
}

body,
h1,
h2,
h3,
p,
figure,
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}
