@use '../../global';

main {
  section {
    padding: 31px 10px 43px;
    margin: 36px 0;
    color: global.$color-PL;
    background-color: global.$color-WT;
    border-radius: 20px;

    @include global.mq(pc) {
      padding: 58px 50px 70px;
    }
  }

  h2 {
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 900;
    text-align: center;

    @include global.mq(pc) {
      font-size: 32px;
      text-align: left;
    }
  }

  h2 + p {
    font-size: 14px;
    font-weight: bold;
    text-align: center;

    @include global.mq(pc) {
      text-align: left;
    }
  }
}
